# Ignore data directories
data/pipeline/
data/app_data/
data/artificial/

mlruns/

# Ignore virtual environment
.venv/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore pickle files
*.pkl

# Ignore Jupyter notebooks
*.ipynb

# Ignore macOS system files
.DS_Store