/* Graph Styles */
.graph-element {
    height: calc(75vh);
    width: 100%;
    /* background-color: lightgrey; */
    padding: 10px;
    margin: 0;
    /* border: 2px dashed lightgrey; */
    display: block;
}


.graph-element.double_graph {
    height: calc(45vh);
}

.graph-element.map_overview,
.graph-element.sensor_health {
    height: calc(75vh);
}

/* Table Styles */

.data-table {
    height: 60vh;
    width: 45vw;
    margin: 50px auto;
    overflow-y: auto;
    /* border: 2px solid black; */
}

.data-table-cell {
    text-align: left;
    padding: 10px;
}

/* Element Styles */

.column-element {
    height: 100%;
    width: calc(50vw - auto);
    /* border: 2px solid green; */
    padding: 10px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.tab-element {
    height: 97vh;
    width: calc(50vw - auto);
    /* border: 2px solid blue; */
    padding: 10px;
    margin: 0;
}

.tabs-element {
    height: 6vh;
    width: 100%;
    /* border: 2px solid purple; */
    padding: 10px;
    margin: auto;
}

.row-element {
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    padding: 10px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.dropdown-element {
    height: 6vh;
    width: 30vw;
    /* border: 2px solid orange; */
    padding: 10px;
    margin: auto;
}

.container-element {
    height: 100%;
    width: 100%;
    /* border: 2px solid yellow; */
    padding: 10px;
    margin: auto;
}

.title-element {
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    border-bottom: 6px solid #da1a35;
    color: white;
    padding: 10px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    background-color: #003a65;
}

.title-element {
    text-align: center;
    color: white;
}

.logo-element {
    height: 40px;
    width: auto;
    /* border: 2px solid red; */
    position: absolute;
    top: 20px;
    right: 10px;

}

.footer-element {
    font-size: 10px;
    text-align: center;
}

.card-element {
    height: 12vh;
    /* border: 2px solid pink; */
    width: 14vw;
    align-items: center;
    margin: auto;
}

.legend-element {
    height: 50vh;
    width: 100%;
    /* border: 2px solid pink; */
    margin: auto;
    padding-bottom: 5vh;
}

.cardbody-element {
    height: 100%;
    width: 100%;
    /* border: 2px solid pink; */
    margin: auto;
}

.card-text {
    font-size: 12px;
    /* border: 2px solid black; */
    align-items: center;
    padding-top: 1vh;
    text-align: center;
    margin: auto;
}

.card-title {
    font-size: 24px;
    /* border: 2px solid black; */
    align-items: center;
    text-align: center;
    margin: auto;
}

.quality-cardbody-font {
    font-size: 20px;
}

.quality-cardtitle-font {
    font-size: 24px;
}

/* CSS for the container that holds the buttons and frame counter */
.button-frame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Use the full width of the row */
}

.button-element {
    height: 50%;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 30%;
    /* border: 3px solid #0073bc; */
    margin: auto;
}

.frame-counter-element {
    flex-grow: 1;
    /* Take up the remaining space */
    display: flex;
    align-items: center;
    /* Vertically center the content */
    justify-content: center;
    /* Horizontally center the content */
    /* border: 3px solid #0073bc; */
}